/* Set the primary color variable for easy customization */
:root {
  --primary: #fff;
}

/* Basic styling for buttons */
.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Styling for primary buttons with white background and dark text */
.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

/* Styling for outline buttons with transparent background and white text */
.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

/* Medium-sized button with specified font size */
.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

/* Large-sized button with specified font size */
.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

/* Hover effect for large and medium buttons */
.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
