video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

/* Additional styles for a card-like appearance */
.order-history-card {
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);  */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center; 
  font-family: 'Arial', sans-serif;
  /* letter-spacing: 2px; */
  color: black;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

button{
  margin: 10px;
}

.password-form {
  margin: auto;
  text-align: center;
}

.user-info h3 {
  display: inline-block;
}

.user-info h3::after {
  content: "\00a0";
}

.user-info-item {
  display: inline-block;
}

.pw-field {
  width: 80%;
  margin: 10px auto;
}

.package-name {
  text-align: center;
}

.password-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: black;
}

.order-history {
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  opacity: 50%;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}

.user-info {
  width: 50%;
  float: left;
}

.order-history-column {
  width: 50%;
  float: right;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}